APP_NAME="mini-RAG"
APP_VERSION="0.1"

FILE_ALLOWED_TYPES=['text/plain', 'application/pdf']
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000

POSTGRES_PASSWORD=""
POSTGRES_USER="postgres"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_MAIN_DATABASE="minirag"

# ==================== LLM Config ====================
GENERATION_BACKENED="OPENAI"
EMBEDDING_BACKEND="COHERE"

OPENAI_API_KEY=""
OPENAI_API_URL=""
COHERE_API_KEY=""

GENERATION_MODEL_ID=""
EMBEDDING_MODEL_ID=""
EMBEDDING_MODEL_SIZE=""

INPUT_DEFAULT_MAX_CHARACTERS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1

# ====================== VectorDB Config ====================
VECTOR_DB_BACKEND ="QDRANT"
VECTOR_DB_PATH = "qdrantdb"
VECTOR_DB_DISTANCE_METHOD = "cosine" 

# ====================== Template Config ====================
PRIMARY_LANG = "en"
DEFAULT_LANG = "en"
